<div
  x-data="
    {
      filters: [
        { name: 'Tous', url: '{{ routes.all_products_collection_url }}' },
        { name: 'Hauts', url: '{{ routes.all_products_collection_url }}/top' },
        { name: 'Bas', url: '{{ routes.all_products_collection_url }}/bottom' },
        { name: 'Accessoires', url: '{{ routes.all_products_collection_url }}/accessories' },
      ],
      activeFilter: window.location.pathname,
      updateFilter(url, title) {
        window.location.href = url;
      }
    }
  "
>
  <div class="flex w-full flex-col gap-5">
    <template x-for="filter in filters" :key="filter.url">
      <label class="flex cursor-pointer items-center">
        <input
          type="radio"
          :value="filter.url"
          :checked="activeFilter === filter.url"
          @change="updateFilter(filter.url)"
          class="mr-2 accent-black"
        >
        <span
          :class="activeFilter === filter.url ? 'font-medium' : 'text-neutral-dark-grey'"
          x-text="filter.name"
        ></span>
      </label>
    </template>
  </div>
</div>
