<div
  x-data="
    {
      sortBy: new URLSearchParams(window.location.search).get('sort_by') || 'manual',
      updateSort() {
        window.location.href = '?sort_by=' + this.sortBy;
      }
    }
  "
  class="flex flex-col gap-5"
>
  <label
    class="inline-flex cursor-pointer items-center"
    :class="sortBy === 'manual' ? 'font-medium text-neutral-black' : 'text-neutral-dark-grey'"
  >
    <input
      type="radio"
      value="manual"
      x-model="sortBy"
      @change="updateSort()"
      class="mr-2 accent-black"
    >
    Par défaut
  </label>

  <label
    class="inline-flex cursor-pointer items-center"
    :class="sortBy === 'best-selling' ? 'font-medium text-neutral-black' : 'text-neutral-dark-grey'"
  >
    <input
      type="radio"
      value="best-selling"
      x-model="sortBy"
      @change="updateSort()"
      class="mr-2 accent-black"
    >
    Meilleures ventes
  </label>

  <label
    class="inline-flex cursor-pointer items-center"
    :class="sortBy === 'price-ascending' ? 'font-medium text-neutral-black' : 'text-neutral-dark-grey'"
  >
    <input
      type="radio"
      value="price-ascending"
      x-model="sortBy"
      @change="updateSort()"
      class="mr-2 accent-black"
    >
    Prix croissant
  </label>

  <label
    class="inline-flex cursor-pointer items-center"
    :class="sortBy === 'price-descending' ? 'font-medium text-neutral-black' : 'text-neutral-dark-grey'"
  >
    <input
      type="radio"
      value="price-descending"
      x-model="sortBy"
      @change="updateSort()"
      class="mr-2 accent-black"
    >
    Prix décroissant
  </label>
</div>
