<div class="flex w-full flex-col gap-5">
  <label class="flex cursor-pointer items-center">
    <input
      type="radio"
      name="view-by"
      value="grid"
      x-model="viewBy"
      class="mr-2 accent-black"
      :class="viewBy === 'grid' ? 'font-medium text-neutral-black' : 'text-neutral-dark-grey'"
    >
    <span>Grille</span>
  </label>

  <label class="flex cursor-pointer items-center">
    <input
      type="radio"
      name="view-by"
      value="list"
      x-model="viewBy"
      class="mr-2 accent-black"
      :class="viewBy === 'list' ? 'font-medium text-neutral-black' : 'text-neutral-dark-grey'"
    >
    <span>Liste</span>
  </label>
</div>
