<div class="inline-block w-full text-left lg:relative">
  <button id="dropdown-button" class="h-10 w-full bg-white">{{ title }}</button>

  <div
    id="dropdown"
    class="absolute left-0 z-10 hidden w-full origin-top-right border border-neutral-light-grey bg-white px-6 py-5 transition-all"
  >
    {{ content }}
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const dropdownButtons = document.querySelectorAll('#dropdown-button');

    dropdownButtons.forEach((button) => {
      button.addEventListener('click', function (event) {
        const dropdown = this.nextElementSibling;

        dropdownButtons.forEach((btn) => {
          const otherDropdown = btn.nextElementSibling;
          if (otherDropdown !== dropdown) {
            otherDropdown.classList.add('hidden');
            otherDropdown.classList.remove('max-h-96');
          }
        });

        dropdown.classList.toggle('hidden');
        dropdown.classList.toggle('max-h-96');

        document.addEventListener(
          'click',
          function (event) {
            if (!button.contains(event.target) && !dropdown.contains(event.target)) {
              dropdown.classList.add('hidden');
              dropdown.classList.remove('max-h-96');
            }
          },
          { once: true },
        );
      });
    });
  });
</script>
