<div x-data="{ selectedVariant: '{{ product.selected_or_first_available_variant.id }}', selectedColor: null }">
  {% assign has_color = false %}

  {%- for option in product.options_with_values -%}
    {%- if option.name == 'Couleur' or option.name == 'Color' -%}
      {% assign has_color = true %}
    {%- endif -%}
  {%- endfor -%}

  {% capture color_drawer_title %}
  <div class="flex w-full justify-between">
    <span class="font-semibold">{{ 'products.selectors.color' | t }}</span>

    <div class="flex flex-row items-center justify-center gap-2">
      <p
        x-text="selectedColor ? selectedColor.name : '{{ "products.selectors.select" | t }}'"
        :class="{ 'text-neutral-mid-grey': !selectedColor, 'text-neutral-black': selectedColor }"
      ></p>

      <div
        x-show="selectedColor.hex"
        class="h-2 w-2 rounded-full"
        :style="{ backgroundColor: selectedColor.hex }"
        x-cloak
      ></div>

      {% render 'icon-accordion' %}
    </div>
  </div>
  {% endcapture %}

  {% capture color_drawer_content %}
  <div class="flex flex-wrap gap-4">
    <template x-for="color in colors" :key="color">
      <button
        type="button"
        @click="selectColor(color)"
        class="flex w-fit flex-row items-center gap-2 px-4 py-2"
        :class="{ 'border border-neutral-black': selectedColor === color, 'border border-neutral-light-grey': selectedColor !== color }"
      >
        <span x-text="color.name"></span>
        <div
          class="h-6 w-6 rounded-full border border-zinc-100"
          :style="{ backgroundColor: color.hex }"
        ></div>
      </button>
    </template>

    <div class="mt-12 w-full">
    <button
      :disabled="!selectedColor"
      class="w-full bg-neutral-black py-3 text-white disabled:bg-neutral-mid-grey"
      @click="closeDrawer()"
    >
      {{ "buttons.apply_selection" | t }}
    </button>
  </div>
  </div>
  {% endcapture %}

  {% if has_color %}
    {% render 'drawer',
      button_text: color_drawer_title,
      button_classes: 'w-full p-4',
      title: 'Couleurs',
      content: color_drawer_content
    %}
  {% endif %}
</div>
