<!-- Toast notification component with Alpine.js -->
<div
  id="toast-notification"
  x-data="toastNotification()"
  x-show="visible"
  x-transition:enter="transition ease-out duration-300"
  x-transition:enter-start="opacity-0 translate-y-[-100px]"
  x-transition:enter-end="opacity-100 translate-y-0"
  x-transition:leave="transition ease-in duration-300"
  x-transition:leave-start="opacity-100 translate-y-0"
  x-transition:leave-end="opacity-0 translate-y-[-100px]"
  class="fixed right-4 top-4 z-50 rounded bg-white p-4 shadow-lg"
  style="display: none;"
>
  <div class="flex items-center gap-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      x-show="type === 'success'"
      class="h-5 w-5 text-green-500"
      viewBox="0 0 20 20"
      fill="currentColor"
    >
      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
    </svg>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      x-show="type === 'error'"
      class="h-5 w-5 text-red-500"
      viewBox="0 0 20 20"
      fill="currentColor"
    >
      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
    </svg>

    <span x-text="message"></span>
  </div>
</div>

<script>
  window.toastNotification = function () {
    return {
      visible: false,
      message: '',
      type: 'success',
      timer: null,

      show(message, type = 'success', duration = 3000) {
        if (this.timer) clearTimeout(this.timer);

        this.message = message;
        this.type = type;
        this.visible = true;

        this.timer = setTimeout(() => {
          this.visible = false;
        }, duration);
      },

      hide() {
        this.visible = false;
      },
    };
  };

  window.showToast = function (message, type = 'success', duration = 3000) {
    const toastEl = document.getElementById('toast-notification');

    if (toastEl && toastEl.__x) {
      toastEl.__x.getUnobservedData().show(message, type, duration);
    }
  };
</script>
