@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none !important;
}

:root {
  --header-height: 71px;
  --progress: 0;
}

html {
  scroll-behavior: smooth;
}

/* Reusable classes */

.btn-primary {
  @apply w-full rounded-sm bg-neutral-black py-3 text-center text-white hover:bg-neutral-black/80 disabled:bg-neutral-mid-grey;
}

.btn-secondary {
  @apply cursor-pointer rounded-sm bg-white p-3 text-center text-neutral-black transition-all hover:opacity-80;
}

/* Link underline effect */
.link-underline {
  position: relative;
  text-decoration: none;
}

.link-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background-color: currentColor;
  opacity: 0.5;
  transition: width 0.3s ease;
}

.link-underline:hover::after {
  width: 100%;
}

/*  Loading button state */

.btn-loading {
  background-color: #010101;
  color: #010101;
  cursor: not-allowed;
  position: relative;
}

.btn-loading::after {
  content: '';
  border: 2px solid white;
  border-radius: 50%;
  border-top: 2px solid #000;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
