/* @font-face {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(../fonts/Satoshi-Light.ttf) format('truetype');
  } */

/* @font-face {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/Satoshi-Light.ttf) format('truetype');
  }
   */

@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Satoshi-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Satoshi-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/Satoshi-Bold.ttf) format('truetype');
}
