<section class="mt-20 flex w-full flex-col gap-2 gutter-px-1">
  <h1 class="text-3xl font-medium">{{ article.title }}</h1>
  <h2>Écrit par: {{ article.author }}</h2>
</section>

<section class="flex flex-wrap gap-2 gutter-px-1">{{ article.content }}</section>
