<div class="relative w-full">
  {% section 'made-to-measure-hero-section' %}

  {% section 'made-to-measure-carousel' %}

  {% section 'made-to-measure-cards' %}

  {% section 'contact-form-section' %}
</div>
