{% render 'vite-tag' with 'js/made-to-measure.js' %}

<div class="relative w-full">
  {% section 'made-to-measure-hero-section' %}

  {% section 'made-to-measure-carousel' %}

  {% section 'made-to-measure-cards' %}

  <div id="panel" class="bg-white py-8">
    {% section 'contact-form-section' %}
  </div>
</div>
