{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

<div class="relative mt-[calc(var(--header-height)_+_1rem)] grid w-full grid-cols-1 gap-4 margin-px-1 lg:grid-cols-[1fr_0.7fr] lg:gap-16">
  <section class="grid grid-cols-1 bg-red-200">
    <img
      class="h-full w-full bg-neutral-light-grey object-contain"
      src="{{ product.images[0]  | image_url }}"
      alt="{{ featured_image.alt | escape }}"
      width="100%"
      height="100%"
    >
    <img
      class="h-full w-full bg-neutral-light-grey object-contain"
      src="{{ product.images[1]  | image_url }}"
      alt="{{ featured_image.alt | escape }}"
      width="100%"
      height="100%"
    >
  </section>

  <section class="sticky top-[var(--header-height)] flex h-max flex-col gap-8">
    {% render 'product-page-details' %}
    {% render 'product-page-accordions' %}
  </section>
</div>

{% render 'product-page-complete-the-look' %}
